In [1]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('dates').getOrCreate()

In [5]:
df = spark.read.csv('appl_stock.csv',inferSchema=True,header=True)

In [8]:
df.show(5)

+--------------------+----------+----------+------------------+------------------+---------+------------------+
|                Date|      Open|      High|               Low|             Close|   Volume|         Adj Close|
+--------------------+----------+----------+------------------+------------------+---------+------------------+
|2010-01-04 00:00:...|213.429998|214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05 00:00:...|214.599998|215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06 00:00:...|214.379993|    215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07 00:00:...|    211.75|212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08 00:00:...|210.299994|212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
+--------------------+----------+----------+------------------+------------------+---------+------------------+
only showing top 5 rows

In [13]:
df.select(['Date','Open']).show(5)

+--------------------+----------+
|                Date|      Open|
+--------------------+----------+
|2010-01-04 00:00:...|213.429998|
|2010-01-05 00:00:...|214.599998|
|2010-01-06 00:00:...|214.379993|
|2010-01-07 00:00:...|    211.75|
|2010-01-08 00:00:...|210.299994|
+--------------------+----------+
only showing top 5 rows

In [12]:
from pyspark.sql.functions import (dayofyear, hour,
                                    dayofmonth, month,
                                    year,weekofyear,
                                    format_number,date_format)

In [22]:
df.select(dayofmonth(df['Date'])).show(10)

+----------------+
|dayofmonth(Date)|
+----------------+
|               4|
|               5|
|               6|
|               7|
|               8|
|              11|
|              12|
|              13|
|              14|
|              15|
+----------------+
only showing top 10 rows

In [23]:
new_df = df.withColumn('Year',year(df['Date']))

In [26]:
new_df.show(2)

+--------------------+----------+----------+------------------+----------+---------+------------------+----+
|                Date|      Open|      High|               Low|     Close|   Volume|         Adj Close|Year|
+--------------------+----------+----------+------------------+----------+---------+------------------+----+
|2010-01-04 00:00:...|213.429998|214.499996|212.38000099999996|214.009998|123432400|         27.727039|2010|
|2010-01-05 00:00:...|214.599998|215.589994|        213.249994|214.379993|150476200|27.774976000000002|2010|
+--------------------+----------+----------+------------------+----------+---------+------------------+----+
only showing top 2 rows

In [37]:
result = new_df.groupBy('Year').mean().select(['Year','avg(Close)'])

In [38]:
result.show(10)

+----+------------------+
|Year|        avg(Close)|
+----+------------------+
|2015|120.03999980555547|
|2013| 472.6348802857143|
|2014| 295.4023416507935|
|2012| 576.0497195640002|
|2016|104.60400786904763|
|2010| 259.8424600000002|
|2011|364.00432532142867|
+----+------------------+

In [41]:
result = result.withColumnRenamed('avg(Close)', 'ACP')

In [43]:
result.show(4)

+----+------------------+
|Year|               ACP|
+----+------------------+
|2015|120.03999980555547|
|2013| 472.6348802857143|
|2014| 295.4023416507935|
|2012| 576.0497195640002|
+----+------------------+
only showing top 4 rows

In [50]:
result.select('Year', format_number(result['ACP'],2).alias('Average Close')).show()

+----+-------------+
|Year|Average Close|
+----+-------------+
|2015|       120.04|
|2013|       472.63|
|2014|       295.40|
|2012|       576.05|
|2016|       104.60|
|2010|       259.84|
|2011|       364.00|
+----+-------------+